body {
  background: #02052b;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  border-bottom: 1px solid;
  padding: 20px 0;
  display: block;
  margin: 8px;
}

h1 {
  font-size: 50px;
  margin-top: -30px;
  position: relative;
  left: 240px;
  width: 20%;
  height: 20%;
}
h2 {
  font-size: 40px;
  position: relative;
  top: -30px;
  color: white;
  font-weight: 400px;
}

#icon {
  position: relative;
  top: 20px;
}

#temperature {
  font-size: 40px;
  position: relative;
  bottom: 70px;
  left: 10px;
  color: white;
  font-weight: 400px;
}

#weather-unit {
  font-size: 20px;
  position: relative;
  bottom: 90px;
  right: 3px;
  color: white;
  font-weight: 400px;
}

p {
  font-size: 20px;
  color: white;
}

.weather-description {
  opacity: 0.5;
  color: white;
  position: relative;
  bottom: 70px;
}

.weather-state {
  color: white;
  position: relative;
  bottom: 80px;
  font-size: 15px;
}

strong {
  opacity: 0.5;
}

.weather-date {
  position: relative;
  top: 50px;
  margin-right: 72%;
  opacity: 0.7;
  font-size: 16px;
}

.weather-app {
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
  max-width: 600px;
  height: 800px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.city-input {
  background: #02052b;
  color: white;
  border-radius: 2px;
  border: none;
  width: 80%;
  padding: 6px 8px;
  font-size: 16px;
  position: relative;
  bottom: 40px;
}

.city-input:hover {
  background: white;
  color: #02052b;
}

.search-form-button {
  background: #02052b;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 8px 11px;
  font-size: 16px;
  position: relative;
  bottom: 40px;
}

.search-form-button:hover {
  background: white;
  color: #02052b;
  cursor: pointer;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: white;
  opacity: 0.4;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.weather-forecast-icon {
  font-size: 30px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 16px;
  color: white;
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  margin-top: 10px;
  padding: 0 auto;
  align-items: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid;
  padding: 15px 0 0 0;
  font-size: 12px;
  color: white;
  opacity: 0.6;
  position: relative;
  left: 10px;
  bottom: -200px;
}

a {
  color: #dbb4db;
}

a:hover {
  color: black;
}
